@font-face {
  font-family: "Roboto-Regular";
  src:
    local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Medium";
  src:
    local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Bold";
  src:
    local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2");
}

html,
body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto-Regular", Arial, sans-serif;
  color: #283136;
  background-color: #ffffff;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 18px 0;
  border-radius: 5px;
  line-height: 18px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.main-header {
  padding-top: 50px;
  margin: 0;
  line-height: 30px;
  font-family: "Roboto-Medium", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu a {
  line-height: 30px;
  font-family: "Roboto-Medium", Arial, sans-serif;
  color: #000000;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #fb565a;
}

.main-menu a:active {
  color: #afafaf;
}

.index-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.index-logo:hover,
.index-logo:focus {
  opacity: 0.8;
}

.index-logo:active {
  opacity: 0.3;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
}

.cart {
  position: relative;
  max-width: 160px;
  margin-left: auto;
}

.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.promo {
  background-color: #eeeeee;
}

.promo-slider {
  position: relative;
}

.promo-slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.promo-slider-controls i {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	border-radius: 50%;
}

.promo-slider-controls i::after {
	content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
}

.promo-slider-controls .active::before {
	content: "";
  position: absolute;
  left: 50%;
	top: 50%;
	z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  border: 2px solid #c1c1c1;
  border-radius:50%;
}

.promo-slide {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 80px;
  background-color: #eeeeee;
  background-repeat: no-repeat;
}

.promo-slide1 {
  background-image: url("../img/slide1.png");
  background-position: 430px 18px;
}

.promo-slide2 {
  background-image: url("../img/slide2.png");
  background-position: 495px 0;
}

.promo-slide3 {
  background-image: url("../img/slide3.png");
  background-position: 423px 20px;
}

.promo-slide2,
.promo-slide3 {
  display: none;
}

.promo-lead {
  margin: 0;
  max-width: 522px;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  color: #000000;
}

.promo-info {
  max-width: 410px;
  margin-bottom: 37px;
}

.promo-slide .btn {
  width: 240px;
  background-color: #fb565a;
}

.promo-slide .btn:hover,
.promo-slide .btn:focus {
  background-color: #e74246;
}

.promo-slide .btn:active {
  color: rgba(0,0,0,0.3);
  background-color: #d7373b;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.features {
  padding-top: 80px;
  margin-bottom: 80px;
}

.features ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature p {
  max-width: 250px;
}

.feature {
  margin-right: 100px;
}

.feature::before {
  content: "";
  display: block;
  width: 300px;
  height: 145px;
  margin-bottom: 30px;
}

.feature1::before {
  background-color: #fb565a;
  background-image: url("../img/feature1.png");
}

.feature2::before {
  background-color: #00ca74;
  background-image: url("../img/feature2.png");
}

.feature3::before {
  background-color: #efc84a;
  background-image: url("../img/feature3.png");
}

.feature h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.feature p {
  margin: 0;
  margin-bottom: 35px;
}

.feature .btn {
  width: 160px;
}

.feature .btn:active {
  color: rgba(0,0,0,0.3);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.feature1 .btn {
  background-color: #fb565a;
}

.feature1 .btn:hover,
.feature1 .btn:focus {
  background-color: #e74246;
}

.feature1 .btn:active {
  background-color: #d7373b;
}

.feature2 .btn {
  background-color: #00ca74;
}

.feature2 .btn:hover,
.feature2 .btn:focus {
  background-color: #00bc6c;
}

.feature2 .btn:active {
  background-color: #00aa62;
}

.feature3 .btn {
  background-color: #efc84a;
}

.feature3 .btn:hover,
.feature3 .btn:focus {
  background-color: #eab534;
}

.feature3 .btn:active {
  background-color: #e5a722;
}

.studio .container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 40px;
  margin-bottom: 78px;
}

.studio .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.studio-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0;
}

.studio-logo {
  width: 360px;
  height: 208px;
}

.studio-description {
  max-width: 660px;
  margin: 0;
}

.studio-lead {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  color: #000000;
}

.studio-credo {
  margin: 0;
  margin-bottom: 40px;
}

.studio-services {
  display: flex;
  justify-content: space-between;
}

.studio-products {
  margin: 0;
}

.studio-legend {
  margin: 0;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.studio-products .studio-legend {
  margin-bottom: 30px;
}

.studio-products li {
  position: relative;
  padding-left: 37px;
  margin: 0;
  margin-bottom: 30px;
}

.studio-products li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  background-color: #fb565a;
}

.studio-numbers {
  width: 360px;
}

.studio-numbers .studio-legend {
  margin-bottom: 50px;
}

.studio-numbers table {
  margin: 0;
  border-collapse: collapse;
}

.studio-numbers th {
  width: 125px;
  min-height: 48px;
  text-align: left;
  font-weight: normal;
  line-height: 18px;
}

.studio-numbers td {
  width: 125px;
  padding-bottom: 33px;
  font-size: 45px;
  line-height: 10.06px;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
}

.main-projects .container {
  position: relative;
}

.main-projects .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.main-projects .container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.main-projects ul {
  display: flex;
  flex-wrap: wrap;
}

.main-projects li {
  margin-right: auto;
}

.main-projects li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 65px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.main-projects a {
  display: inline-block;
  opacity: 0.2;
}

.main-projects a:hover,
.main-projects a:focus {
  opacity: 1;
}

.main-projects a:active {
  opacity: 0.1;
}

.main-footer {
  padding-top: 80px;
}

.footer-address {
  position: relative;
  width: 100%;
  background-color: #e9e5dc;
}

.footer-address iframe {
  position: relative;
  z-index: 2;
  border: 0;
}

.footer-address .map {
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.footer-contacts {
  position: absolute;
  top: 55px;
  z-index: 2;
  width: 220px;
  padding: 50px;
  background-color: #ffffff;
}

.footer-contacts h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.footer-contacts p {
  margin: 0;
  line-height: 18px;
  color: #666666;
}

.footer-contacts .address {
  margin-bottom: 15px;
}

.footer-contacts .tel {
  margin-bottom: 40px;
}

.footer-contacts .btn {
  width: 210px;
  background-color: #fb565a;
}

.footer-contacts .btn:hover,
.footer-contacts .btn:focus {
  background-color: #e74246;
}

.footer-contacts .btn:active {
  color: rgba(0,0,0,0.3);
  background-color: #d7373b;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.social-media {
  padding-top: 70px;
  padding-bottom: 75px;
}

.social-media .container {
  display: flex;
}

.social-media ul {
  display: flex;
  width: 260px;
  margin-right: 140px;
  justify-content: space-between;
  align-items: center;
}

.social-media a {
  display: inline-block;
  width: 80px;
  padding: 30px 0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-media a:hover,
.social-media a:focus {
  background-color: #e74246;
}

.social-media a:active {
  background-color: #d7373b;
}

.social-media .vk {
  background-image: url("../img/vk-icon.svg");
}

.social-media .fb {
  background-image: url("../img/fb-icon.svg");
}

.social-media .insta {
  background-image: url("../img/insta-icon.svg");
}

.social-media .vk:active {
  background-image: url("../img/vk-icon-active.svg");
}

.social-media .fb:active {
  background-image: url("../img/fb-icon-active.svg");
}

.social-media .insta:active {
  background-image: url("../img/insta-icon-active.svg");
}

.social-media .social-slogan {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
}

.social-media p {
  margin: 0;
  max-width: 560px;
  line-height: 22px;
  color: #444444;
}

.write-us {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 2;
  margin-left: -480px;
  width: 960px;
  padding-top: 70px;
  padding-bottom: 85px;
  background-color: #ffffff;
}

.write-us-container {
  width: 760px;
  padding: 0;
  margin: 0 auto;
}

.write-us-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 45px;
}

.write-us h2 {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  color: #000000;
}

.write-us-close {
  position: relative;
  padding-left: 30px;
}

.write-us-close button + .button-indicator {
  position: absolute;
  top: 0;
  right: -15px;
  width: 25px;
  height: 25px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.write-us-close:hover button + .button-indicator,
.write-us-close:focus button + .button-indicator {
  opacity: 1;
}

.write-us-close:active button + .button-indicator {
  opacity: 0.1;
}

.write-us .user-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
}

.write-us label {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  line-height: 18px;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
}

.write-us input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 18px;
  font: inherit;
}

.write-us textarea {
  box-sizing: border-box;
  width: 760px;
  padding-top: 15px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 50px;
  font: inherit;
}

.write-us input,
.write-us textarea {
  border: 2px solid #d7dcde;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}

.write-us input:hover,
.write-us textarea:hover {
  border-color: #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus {
  border-color: #000000;
  color: #444444;
  opacity: 1;
}

.write-us input:invalid,
.write-us textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.write-us .btn {
  width: 260px;
  border: none;
  background-color: #fb565a;
}

.write-us .btn:hover,
.write-us .btn:focus {
  background-color: #e74246;
}

.write-us .btn:active {
  color: rgba(0,0,0,0.3);
  background-color: #d7373b;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.inner-heading {
  padding-top: 80px;
  padding-bottom: 110px;
  margin: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  color: #000000;
  background-color: #eeeeee;
}

.project-container {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.project-filter {
  max-width: 300px;
}

.project-filter legend,
.project-legend {
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.project-filter fieldset {
  border: none;
}

.price-range {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.price-range legend {
  margin: 0;
  margin-bottom: 56px;
}

.price-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.price-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.price-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.price-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.price-controls .toggle-min {
  left: 18px;
}

.price-controls .toggle-max {
  left: 160px;
}

.price-indicator {
  margin: 0;
  margin-bottom: 60px;
}

.price-indicator label {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.price-indicator label:first-child {
  margin-right: 35px;
}

.price-indicator input[type="text"] {
  box-sizing: border-box;
  width: 85px;
  padding: 10px 0;
  margin-left: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font: inherit;
  background-color: #eeeeee;
}

.model-choice {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.model-choice legend,
.components legend {
  margin: 0;
  margin-bottom: 20px;
}

.model {
  position: relative;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.model label,
.component label {
  line-height: 20px;
}

.model input[type="radio"] {
  margin-right: 10px;
}

.model input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.model input[type="radio"]:hover + .radio-indicator,
.model input[type="radio"]:focus + .radio-indicator {
  opacity: 1;
}

.model input[type="radio"]:disabled + .radio-indicator {
  opacity: 0.1;
}

.model input[type="radio"]:checked + .radio-indicator {
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.model input[type="radio"]:checked:hover + .radio-indicator,
.model input[type="radio"]:checked:focus + .radio-indicator {
  opacity: 1;
}

.model input[type="radio"]:checked:disabled + .radio-indicator {
  opacity: 0.1;
}

.components {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.components legend {
  margin: 0;
  margin-bottom: 20px;
}

.components-choice label {
  margin: 0;
  margin-bottom: 20px;
}

.component {
  position: relative;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.component input[type="checkbox"] {
  margin-left: 10px;
}

.component input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.component input[type="checkbox"]:hover + .checkbox-indicator,
.component input[type="checkbox"]:focus + .checkbox-indicator {
  opacity: 1;
}

.component input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.1;
}

.component input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
}

.component input[type="checkbox"]:checked:hover + .checkbox-indicator,
.component input[type="checkbox"]:checked:focus + .checkbox-indicator {
  opacity: 1;
}

.component input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.1;
}

.project-filter .btn {
  width: 260px;
  border: none;
  color: #000000;
  background-color: #eeeeee;
}

.project-filter .btn:hover,
.project-filter .btn:focus {
  background-color: #dfdfdf;
}

.project-filter .btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.project-catalog {
  display: flex;
  flex-direction: column;
  flex-basis: 765px;
  margin-left: auto;
}

.project-order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.project-legend {
  margin: 0;
  margin-right: auto;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.project-order {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;
}

.project-order a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  opacity: 0.3;
}

.project-order a:hover,
.project-order a:focus {
  opacity: 0.6;
}

.project-order a:active,
.current-order {
  opacity: 1;
}

.project-range {
  display: inline-block;
  min-width: 15px;
  vertical-align: middle;
  font-size: 0;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.project-range:hover,
.project-range:focus {
  opacity: 0.6;
}

.project-range:active {
  opacity: 1;
}

.down {
  margin-left: 48px;
  background-image: url("../img/icon-down.svg");
}

.up {
  background-image: url("../img/icon-up.svg");
}

.project-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-item {
  position: relative;
  margin-bottom: 35px;
}

.project-top {
  min-width: 360px;
  min-height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
}

.project-item:hover .project-top,
.project-item:focus .project-top {
  opacity: 0.12;
  cursor: pointer;
}

.project-info {
  display: none;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 45px;
  margin: 0;
  text-align: center;
  background-color: #eeeeee;
}

.project-item:hover .project-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

.project-info h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto-Bold", Arial, sans-serif;
  text-transform: uppercase;
}

.project-info p {
  margin: 0;
  margin-bottom: 30px;
  line-height: 18px;
  color: #666666;
}

.project-info .btn {
  width: 200px;
  background-color: #fb565a;
}

.project-info .btn:hover,
.project-info .btn:focus {
  background-color: #e74246;
}

.project-info .btn:active {
  background-color: #d7373b;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 60px;
}

.paginator a {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  min-height: 50px;
  padding: 16px 0;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  font-family: "Roboto-Medium", Arial, sans-serif;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.paginator a:hover,
.paginator a:focus {
  background-color: #dfdfdf;
}

.paginator a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.paginator .next {
  width: 260px;
}

.paginator .current {
  padding: 14px 0;
  border: 2px solid #dbdbdb;
  background-color: #ffffff;
}
